@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

input[type="search"]::-webkit-search-cancel-button {
  @apply appearance-none hidden;
}

*::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
