@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  @apply appearance-none hidden;
}

.fade {
  animation: fade 100ms ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
