@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  @apply appearance-none hidden;
}

.fade {
  animation: fade 100ms ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

input[type="radio"] {
  accent-color: #1d9bf0;
}
